



body {
  margin: 0;
  background-color: #ffffff;


}



.navgation {
  
  background-color: #000;
  height: 60px;
  margin-bottom: 10px;
}

 .catg {
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;


}

.catg li {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  color: azure;
}


.info-container {
  height: 300px;
  margin: 5px;

}

.footer-container {
  background-color: black;
  color: azure;
  font-size: 20px;

}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.cards {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  

}

.card {
  border: solid grey 2px;
  /* border-radius: 20%; */
  height: 500px;
  width: 400px;
  margin-right: 15px;
  background-color: #e6ffe6;

}

.image{
  height: 50%;
  width: 80%;
}
.image img{
  height: 100%;
  width: 100%;
}
/* maybe we remove the below */
img{
  width: 100px;
  height: 100px;
}
